$bootstrap-sass-asset-helper: false !default;

$font-family-sans-serif:  Calibri, Arial, sans-serif;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif !default;
$font-family-default:     Arial, sans-serif;
$font-family-default2:    "Courier New", monospace !default;

$white-color:                   #fff;

$btn-font-weight:                normal !default;

$btn-default-color:              $white-color !default;
$btn-default-bg:                 #5bc0de !default;
$btn-default-border:             #46b8da !default;

$btn-primary-color:              $white-color !default;
$btn-primary-bg:                 #d9534f !default;
$btn-primary-border:             #d43f3a !default;

$btn-success-color:              $white-color !default;
$btn-success-bg:                 #f0ad4e !default;
$btn-success-border:             #eea236 !default;

$btn-info-color:                 #333 !default;
$btn-info-bg:                    #fff !default;
$btn-info-border:                #ccc !default;

$btn-warning-color:              $white-color !default;
$btn-warning-bg:                 #449d44 !default;
$btn-warning-border:             #398439 !default;

$btn-danger-color:               $white-color !default;
$btn-danger-bg:                  #337ab7 !default;
$btn-danger-border:              #2e6da4 !default;
