@import url('http://fonts.googleapis.com/css?family=Calibri:400,300,700,900');

@import "variables";
@import "bootstrap";

.btn-default {
    font-family: $font-family-default;   
}

.btn-primary {
    font-family: $font-family-sans-serif;   
}

.btn-success {
    font-family: $font-family-monospace;   
}

.btn-warning {
    font-family: $font-family-base;   
}

.btn-danger {
    font-family: $font-family-default2;   
}



